<ids-menu-button
      icon="filter"
      menu="filter-menu"
      role="button"
    >
</ids-menu-button>
<ids-popup-menu id="filter-menu">
      <ids-menu-header>plan status</ids-menu-header>
      <ids-menu-group keep-open="true" select="multiple">
        @for (status of statuses; track status) {
          <ids-menu-item
            (click)="onFiltersChange(status)"
            [attr.selected]="selectedStatuses[status]"
            >{{ status }} <strong>{{selectedStatuses[status]}}</strong></ids-menu-item
          >
        }
      </ids-menu-group>
</ids-popup-menu>
